Repository qbicsoftware/data-model-lib, pull requests merged in 2022-02, with the labels that each got.

#287 Maintain repository
  .github/CODEOWNERS
  .github/pr-labels.yml
  .github/release.yml
  .github/workflows/build_package.yml
  .github/workflows/changelog-update.yml
  .github/workflows/create-release.yml
  .github/workflows/dependabot.yml
  .github/workflows/generate-reports.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/nexus-publish-release.yml
  .github/workflows/nexus-publish-snapshots.yml
  .github/workflows/pr_to_master_from_hotfix_release_only.yml
  .readthedocs.yml
  LICENSE
  README.md
  README.rst
  bnd.bnd
  docs/Makefile
  docs/_static/custom_cookietemple.css
  docs/authors.rst
  docs/changelog.rst
  docs/codeofconduct.rst
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/readme.rst
  docs/requirements.txt
  docs/usage.rst
Labels: chore

#288 Remove everit-json from compile scope
  pom.xml
  src/main/groovy/life/qbic/datamodel/datasets/OxfordNanoporeMeasurement.groovy
Labels: chore

#289 add alternative nanopore data structure and tests
  README.md
  doc/figures/Nanopore_Data_Structure_Model.png
  doc/figures/Nanopore_Data_Structure_Model.svg
  doc/figures/Nanopore_Data_Structure_Model_v2.svg
  src/main/groovy/life/qbic/datamodel/datasets/OxfordNanoporeExperiment.groovy
  src/main/groovy/life/qbic/datamodel/datasets/OxfordNanoporeMeasurement.groovy
  src/main/groovy/life/qbic/datamodel/datasets/datastructure/files/nanopore/BarcodeAlignmentLog.groovy
  src/main/groovy/life/qbic/datamodel/datasets/datastructure/folders/nanopore/OtherReportsFolder.groovy
  src/main/groovy/life/qbic/datamodel/instruments/OxfordNanoporeInstrumentOutputV2.groovy
  src/main/resources/schemas/nanopore-instrument-output_v2.schema.json
  src/main/resources/schemas/ont-metadata.schema.json
  src/test/groovy/life/qbic/datamodel/datasets/datastructure/OxfordNanoporeExperimentSpec.groovy
  src/test/resources/valid-example-newer.json
Labels: feature

#291 Rename jobs in github actions
  .github/workflows/build_package.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-release.yml
  .github/workflows/java_checkstyle.yml
  .github/workflows/label-pull-request.yml
  .github/workflows/nexus-publish-snapshots.yml
  .github/workflows/run_tests.yml
Labels: chore

#290 Update Nanopore Parsing
  src/main/groovy/life/qbic/datamodel/datasets/OxfordNanoporeMeasurement.groovy
Labels: feature

#294 Remove outdated dependabot yml
  .dependabot/config.yml
Labels: chore

#295 update groovy versions
  .github/workflows/build_package.yml
  .github/workflows/create-release.yml
  .github/workflows/nexus-publish-snapshots.yml
  pom.xml
Labels: chore

#297 compile using java 1.8
  .github/workflows/build_package.yml
  .github/workflows/create-release.yml
  .github/workflows/java_checkstyle.yml
  .github/workflows/nexus-publish-snapshots.yml
  .github/workflows/run_tests.yml
Labels: fix

#301 Bump xml-manager-lib to 1.7.0
  pom.xml
Labels: chore

#305 Adjust workflow triggers
  .github/workflows/build_package.yml
  .github/workflows/create-release.yml
  .github/workflows/run_tests.yml
Labels: fix
